@font-face {
    font-family: canopee;
    src: url(canopee.ttf);
}

@font-face {
    font-family: editorial;
    src: url(EditorialNew-Light.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    height: 100%;
    background-color: #2f2f2f;
    overflow-x: hidden;
}

#page1 {
    min-height: 100vh;
    width: 100vw;
    background-color: #c4bcb3;
    position: relative;
    overflow: hidden;
}

#nav {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    border-bottom: 1px solid rgb(120, 115, 115);
}

#nav img {
    height: 24px;
    width: 30%;
}

#nav h5 {
    color: #3f3e3e;
    font-size: 15px;
    font-weight: 100;
    width: 30%;
}

#nav i {
    font-size: 16px;
    width: 30%;
    text-align: right;
}

#elems {
    min-height: 330px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
}

#elem1 {
    width: 30%;
    height: 100%;
}

#elem2 {
    width: 30%;
    height: 100%;
    padding: 20px 50px;
    text-align: center;
    border-left: 1px solid rgb(120, 115, 115);
    border-right: 1px solid rgb(120, 115, 115);
}

#elem3 {
    width: 30%;
    height: 100%;
}

#image-div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s;
}

#elem1 #image-div {
    height: 55%;
    width: 100%;
    overflow: hidden;
    border: 1.2px solid rgb(120, 115, 115);
}

#elem3 #image-div {
    height: 55%;
    width: 100%;
    overflow: hidden;
    border: 1.2px solid rgb(120, 115, 115);
}

#image-div:hover img {
    scale: 1.1;
}

#elem1 h4 {
    color: #1e1d1d;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 8px;
    font-family: canopee;
}

#elem1 h4 span {
    position: relative;
    background-color: #b43b12;
    color: #c4bcb3;
    font-weight: 100;
    font-size: 13px;
    padding: 4px;
    bottom: 2px;
    margin-left: 2px;
    border-radius: 5px;
}

#elem1 p {
    font-size: 15px;
    font-family: editorial;
}

#elem2 h2 {
    letter-spacing: -3px;
    font-family: canopee;
    color: #1e1d1d;
    font-size: 55px;
    font-weight: 100;
}

#elem2 h3 {
    font-family: editorial;
    ;
    font-size: 30px;
    color: #2f2f2f;
    font-weight: 100;
    margin: 8px 0;
}

#elem2 h6 {
    font-family: editorial;
    font-size: 18px;
    color: #1e1d1d;
    font-weight: 100;
    margin: 20px 0;
}

#elem2 h6 span {
    color: #323030;
}

#elem3 h4 {
    color: #1e1d1d;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 8px;
    font-family: canopee;
}

#elem3 h4 span {
    position: relative;
    background-color: #b43b12;
    color: #c4bcb3;
    font-weight: 100;
    font-size: 13px;
    padding: 4px;
    bottom: 2px;
    margin-left: 5px;
    border-radius: 5px;
}

#elem3 p {
    font-size: 15px;
    font-family: editorial;
    margin-top: 10px;

}

#bottom-text {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page1 h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vw;
    width: 95vw;
    color: #c4bcb3;
    font-size: 36vw;
    font-weight: 100;
    letter-spacing: -23px;
    background-color: #1c1b19;
    font-family: canopee;
}

#page2 {
    min-height: 140vh;
    width: 100vw;
    background-color: #c4bcb3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
}

#left-div {
    padding-right: 30px;
    height: 100%;
    width: 33%;
    border-right: 1px solid rgb(120, 115, 115);
}

#left-div h2 {
    color: #1e1d1d;
    line-height: 90px;
    font-size: 90px;
    font-family: canopee;
    text-align: center;
    font-weight: 100;
}

#left-div h2 span {
    font-size: 140px;
    text-align: center;
    font-weight: 500;
}

#left-div img {
    margin-top: 15px;
    height: 70vh;
    width: 100%;
    object-fit: cover;
    border: 1.2px solid rgb(120, 115, 115);
}

#left-div p {
    font-size: 22px;
    font-family: editorial;
    color: #252424;
    margin-top: 20px;
    text-align: center;
}

#right-div {
    height: 100%;
    width: 65%;
    padding-top: 10px;
}

#right-div img {
    height: 60%;
    width: 100%;
    object-fit: cover;
    border: 1.2px solid rgb(120, 115, 115);
}

#right-div h1 {
    font-weight: 110;
    margin-top: 30px;
    line-height: 85px;
    color: #1e1d1d;
    font-family: canopee;
    font-size: 110px;
}

#page3 {
    position: relative;
    height: 60vh;
    width: 100vw;
    background-color: #c4bcb3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page3 h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    letter-spacing: -16px;
    font-weight: 100;
    font-size: 28vw;
    font-family: canopee;
    background-color: #1c1b19;
    line-height: 300px;
    color: #c4bcb3;
    padding: 0 20px;
    margin-right: 2vw;
}

#page3 img {
    height: 55vh;
    gap: 0.5vw;
    margin-right: 1vw;
}

#page4 {
    height: 135vh;
    width: 100vw;
    background-color: #c4bcb3;
    position: relative;
    overflow: hidden;
    display: flex;
}

#left-container {
    min-height: 100vh;
    width: 65vw;
}

#top-div {
    min-height: 20vw;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#element1 {
    margin-top: 1vw;
    position: relative;
    width: 45%;
    padding-right: 3vw;
    height: 100%;
    margin-right: 5vw;
}

#element2 {
    width: 42%;
    min-height: 100%;
    text-align: center;
    border-right: 1px solid rgb(120, 115, 115);
}

#element1 #img-div {
    height: 55%;
    width: 100%;
    overflow: hidden;
    border: 1.2px solid rgb(120, 115, 115);
}

#img-div img {
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    transition: all ease 0.5s;
}

#img-div:hover img {
    scale: 1.1;
}

#element1 h4 {
    color: #1e1d1d;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 8px;
    font-family: canopee;
}

#element1 p {
    font-weight: 100;
    font-size: 18px;
    font-family: editorial;
    color: #323030;
}

#element2 h2 {
    letter-spacing: -3px;
    font-family: canopee;
    color: #1e1d1d;
    font-size: 4vw;
    font-weight: 100;
}

#element2 h3 {
    text-align: left;
    font-family: editorial;
    ;
    font-size: 2.5vw;
    color: #2f2f2f;
    font-weight: 100;
    margin: 8px 36px;
}

#element2 h6 {
    text-align: left;
    font-family: editorial;
    font-size: 20px;
    color: #1e1d1d;
    font-weight: 100;
    margin: 20px 36px;
}

#element2 h6 span {
    color: #323030;
}

#bottom-div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bottom-div img {
    position: relative;
    width: 90%;
    height: 100%;
    object-fit: cover;
}

#container-right h2 {
    color: #1c1c19;
    border-left: 2px solid rgb(120, 115, 115);
    padding-top: 1vw;
    padding-left: 2vw;
    letter-spacing: -0.5vw;
    font-family: canopee;
    text-align: center;
    font-weight: 100;
    font-size: 7.5vw;
    text-transform: uppercase;
}

#container-right h2 span {
    position: relative;
    font-size: 14vw;
    font-weight: 100;
    line-height: 9vw;
}

#container-right #upper-text p {
    border-left: 2px solid rgb(120, 115, 115);
    padding-top: 1vw;
    position: relative;
    padding-left: 2vw;
    font-size: 2vw;
    font-family: editorial;
    color: #252424;

}

#container-right #lower-text p {
    border-left: 2px solid rgb(120, 115, 115);
    padding-top: 2vw;
    position: relative;
    padding-left: 2vw;
    font-size: 2vw;
    font-family: editorial;
    color: #252424;
}

#container-right #Animated-Button {
    position: relative;
    margin-top: 3vw;
    margin-left: 5vw;
    height: 150px;
    background-color: #CAC1B6;
    border: 1px solid #2f2f2fc6;
    border-radius: 50%;
    width: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    overflow: hidden;
}

#Animated-Button h1 {
    color: #1c1c19;
    padding: 0 50%;
    font-size: 60px;
    font-weight: 100;
    font-family: canopee;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-26%);
    transition: all ease 0.6s;
    gap: 10px;
}

#Animated-Button h1 span {
    color: #1c1c19;
    text-align: center;
}

#Animated-Button img {
    color: #1c1c19;
    height: 60px;
    transition: all ease 0.6s;

    transform: translateX(-120%);
}

#Animated-Button:hover img {
    transform: translateX(76%);

}

#Animated-Button:hover h1 {
    transform: translateX(100%);
}

#page5 {
    height: 30vh;
    width: 100vw;
    background-color: #c4bcb3;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: 1px solid #2f2f2fc6;
    border-bottom: 1px solid #2f2f2fc6;
}

#page5 #container1 {
    position: relative;
    display: flex;
    align-items: center;
}

#page5 #container2 {
    position: relative;
    display: flex;
    align-items: center;
}

#page5 #container3 {
    position: relative;
    display: flex;
    align-items: center;
}

#page5 #container4 {
    position: relative;
    display: flex;
    align-items: center;
}

#left-div-container {
    text-align: center;
}

#left-div-container h4 {
    color: #1c1c19;
    font-family: editorial;
    font-size: 1.7vw;
    font-weight: 100;
}

#left-div-container h3 {
    color: #1c1c19;
    font-family: canopee;
    font-weight: 100;
    font-size: 4.5vw;
}

#right-div-container h1 {
    color: #1c1c19;
    font-family: canopee;
    font-weight: 100;
    font-size: 10vw;
    padding-left: 0.5vw
}

#page6 {
    height: 115h;
    width: 100vw;
    background-color: #c4bcb3;
    position: relative;
    padding-left: 2vw;
    display: flex;
    gap: 4.5vw;
}

#p6-left-div {
    margin-top: -1vw;
    position: relative;
}

#p6-left-div #top-container {
    display: flex;
    align-items: center;
    gap: 1vw;
}

#p6-left-div #top-container img {
    height: 23vw;
    width: 14vw;
    border: 1.4px solid rgb(33, 31, 31);
}

#p6-left-div #top-container h1 {
    color: #1c1c19;
    letter-spacing: -1.5vw;
    padding-top: 1vw;
    font-family: canopee;
    font-weight: 100;
    font-size: 32.5vw;
}


#p6-left-div #bottom-container h1 {
    color: #1c1c19;
    letter-spacing: -1vw;
    line-height: 14vw;
    font-family: canopee;
    font-weight: 100;
    font-size: 30vw;
}

#p6-right-div {
    padding-top: 5.42vw;
    position: relative;
}

#p6-right-div img {
    height: 95vh;
    width: 45vw;
    border: 1.4px solid rgb(60, 54, 54);
}

#page7 {
    height: 105vh;
    width: 100vw;
    background-color: #c4bcb3;
    position: relative;
    padding-top: 1vw;
    padding-left: 2vw;
}

#page7 #p7-top-div {
    height: 50vh;
    width: 100vw;
    display: flex;
    align-items: center;
    gap: 2vw;
}

#p7-top-div img {
    height: 42vh;
    width: 23vw;
    border: 1.4px solid rgb(60, 54, 54);
}

#p7-top-div h1 {
    padding-top: 1vw;
    color: #1c1c19;
    letter-spacing: -1.3vw;
    line-height: 17vw;
    font-family: canopee;
    font-weight: 100;
    font-size: 28vw;
}

#p7-bottom-div {
    display: flex;
    height: 50vh;
}

#p7-left-container {
    height: 50vh;
    width: 65vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#p7-left-container h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22vw;
    width: 62vw;
    color: #c4bcb3;
    font-size: 24.5vw;
    font-weight: 100;
    letter-spacing: -0.9vw;
    background-color: #1c1b19;
    font-family: canopee;
}

#p7-right-container {
    height: 50vh;
    width: 100vw;
}

#p7-right-container h4 {
    color: #323030;
    padding: 1vw 2vw;
    font-weight: 100;
    font-size: 2vw;
    font-family: editorial;
}

#p7-right-container h4 span {
    color: #1c1c19;
    line-height: 7vw;
    font-weight: 100;
    font-size: 7vw;
    font-family: canopee;
}

#page8 {
    padding-left: 2vw;
    height: 70vh;
    width: 100vw;
    display: flex;
    align-items: center;
    background-color: #c4bcb3;
}

#page8 #card-container1 {
    position: relative;
    height: 50vh;
    width: 35vw;
    border: 3.2px solid #343030;
    border-radius: 1vw;
    background-color: #c4bcb3;
    ;
    box-shadow: 0px 19px 23px -20px rgba(39, 35, 35, 0.571),
        -19px -1px 44px -20px rgba(39, 35, 35, 0.571);
    z-index: 1;
    transition: all ease 0.3s;
}

#page8 #card-container1:hover {
    background-color: #b2a99e;
}

#page8 #card-container2 {
    position: relative;
    margin-left: -14vw;
    height: 50vh;
    width: 35vw;
    border: 3.2px solid #343030;
    ;
    border-radius: 1vw;
    z-index: 2;
    background-color: #c4bcb3;
    box-shadow: 0px 19px 23px -20px rgba(39, 35, 35, 0.571),
        -19px -1px 44px -20px rgba(39, 35, 35, 0.571);
    transition: all ease 0.3s;
}

#page8 #card-container2:hover {
    background-color: #b2a99e;
}

#page8 #card-container3 {
    position: relative;
    margin-left: -14vw;
    height: 50vh;
    width: 35vw;
    border: 3.2px solid #343030;
    border-radius: 1vw;
    background-color: #c4bcb3;
    box-shadow: 0px 19px 23px -20px rgba(39, 35, 35, 0.571),
        -19px -1px 44px -20px rgba(39, 35, 35, 0.571);
    z-index: 3;
    transition: all ease 0.3s;
}

#page8 #card-container3:hover {
    background-color: #b2a99e;
}

#page8 #card-container4 {
    position: relative;
    margin-left: -14vw;
    height: 50vh;
    width: 32vw;
    border: 3.2px solid #343030;
    border-radius: 1vw;
    background-color: #c4bcb3;
    box-shadow: 0px 19px 23px -20px rgba(39, 35, 35, 0.571),
        -19px -1px 44px -20px rgba(39, 35, 35, 0.571);
    z-index: 4;
    transition: all ease 0.3s;
}

#page8 #card-container4:hover {
    background-color: #b2a99e;
}

#card h4 {
    letter-spacing: 0.1vw;
    padding: 2vw 3vw;
    text-underline-offset: 0.3vw;
    text-decoration: underline 0.001vw #5c5c5cb4;
    font-family: editorial;
    font-weight: 500;
    font-size: 2vw;
    color: #1e1c1c;
}

#card #bottom-card-div {
    padding-left: 3vw;
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

#card #bottom-card-div img {
    height: 3.5vw;
    width: 3.5vw;
    border: 1px solid #3f3e3e;
    border-radius: 50%;
}

#card #bottom-card-div h5 {
    color: #323030;
    font-family: canopee;
    font-size: 2vw;
    font-weight: 100;
    line-height: 1.6vw;
}

#card #bottom-card-div h5 span {
    font-family: editorial;
    font-size: 1.5vw;
    font-weight: 100;
    color: #3d3a3a;
}

#page9 {
    position: relative;
    border-top: 1px solid #2f2f2fc6;
    padding-top: 2vw;
    min-height: 85vh;
    width: 100vw;
    background-color: #c4bcb3;
}

#scroll-animation {
    position: relative;
    border-top: 1px solid #2f2f2fc6;
    border-bottom: 1px solid #2f2f2fc6;
    height: 23vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#scroller {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: none;
    position: relative;
    z-index: 10;
}

#scroller::-webkit-scrollbar {
    display: none;
}

#scroller-in {
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#scroller h4 {
    color: #1c1c19;
    display: inline-block;
    font-size: 6vw;
    font-weight: 100;
    margin-right: 2vw;
    font-family: editorial;
}

#scroller h4 span {
    background-color: #1c1c19;
    padding: 0 0.5vw;
    color: #c4bcb3;
    display: inline-block;
    font-weight: 100;
    font-family: canopee;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

#footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 3vw;
}

#footer-left {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

#footer-left h5 {
    font-family: canopee;
    font-size: 1.8vw;
    font-weight: 100;
}

#footer-left img {
    height: 2vw;
    width: 1.7vw;
}

#footer-left p {
    font-size: 1.3vw;
    font-family: editorial;
}

#footer-right {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.7vw;
}

#footer-right h5 {
    font-family: canopee;
    font-size: 1.5vw;
    font-weight: 100;
}

@media (max-width:600px) {


    #page1 {
        min-height: 20vh;
        width: 100vw;
        background-color: #c4bcb3;
        position: relative;
        overflow: hidden;
    }

    #nav {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid rgb(120, 115, 115);
    }

    #nav img {
        margin-left: 20vw;
        height: 35px;
        width: 80%;
    }

    #nav h5 {
        display: none;
    }

    #nav i {
        margin-left: 10vw;
    }

    #elems {
        display: none;
    }


    #bottom-text {
        margin-top: 5vw;
    }

    #bottom-text h1 {
        font-size: 35vw;
        letter-spacing: -6px;
    }

    #page2 {
        min-height: 100vh;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    #right-div {
        height: 100%;
        width: 100%;
        padding-top: none;
    }

    #right-div img {
        height: 80%;
        width: 100%;
    }

    #right-div h1 {
        margin-top: none;
        line-height: 70px;
        font-size: 90px;
    }

    #left-div {
        display: none;
    }

    #page3 {
        position: relative;
        min-height: 80vh;
        display: inline-block;
        padding-top: 20px;

    }

    #page3 h1 {
        height: 20vh;
        width: 100vw;
        letter-spacing: -1px;
        font-size: 35vw;
    }

    #page3 img{
        height: 56vh;
        width: 100vw;
    }

    #page4 {
        display: none;
    }

    #page5 {
        height: 55vh;
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    #page5 #container1 {
        padding-bottom: 2vw;
    }

    #left-div-container h4 {
        font-size: 9vw;
        font-weight: 100;
        line-height: 10vw;
    }

    #left-div-container h3 {
        font-weight: 100;
        font-size: 10vw;
    }

    #right-div-container h1 {
        font-weight: 100;
        font-size: 15vw;
        padding-left: none;
    }

    #page6 {
        height: 115h;
        width: 100vw;
        padding: 1vw;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #p6-left-div #top-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1vw;
    }

    #p6-left-div #top-container img {
        display: none;
    }

    #p6-left-div #top-container h1 {
        font-size: 45vw;
    }

    #p6-left-div #bottom-container h1 {
        font-size: 55vw;
    }

    #p6-left-div #bottom-container {
        padding: 10vw 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #p6-right-div {
        padding-top: none;
    }

    #p6-right-div img {
        height: 50vh;
        width: 95vw;
    }

    #page7 {
        height: 105vh;
        padding-top: 1vw;
        padding-left: none;
        border-bottom: 1px solid #2f2f2fc6;
    }

    #page7 #p7-top-div {
        position: relative;
        height: 20vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2vw;
    }

    #p7-top-div img {
        display: none;
    }

    #p7-top-div h1 {
        padding-top: 8vw;
        font-size: 35vw;
    }

    #p7-bottom-div {
        padding-top: 6vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 50vh;
    }

    #p7-left-container h1 {
        height: 22vw;
        width: 70vw;
        font-size: 25vw;
        letter-spacing: -0.9vw;
    }

    #p7-right-container {
        padding-top: 5vw;
        height: 50vh;
        width: 100vw;
    }

    #p7-right-container h4 {
        color: #323030;
        padding: 1vw 2vw;
        font-weight: 100;
        font-size: 10vw;
        font-family: editorial;
    }

    #p7-right-container h4 span {
        color: #323030;
        padding: 1vw 2vw;
        font-weight: bold;
        font-size: 10vw;
        font-family: editorial;
    }

    #page8 {
        display: none;
    }

    #page9 {
        border-top: none;
        padding-top: 2vw;
    }

    #scroll-animation {
        border-top: none;
        height: 15vh; 
    }

    #scroller h4 {
        font-size: 15vw;
    }

    #footer {
        height: 25vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
    }

    #footer-left h5 {
        font-size: 15vw;
    }

    #footer-left img {
        display: none;
    }

    #footer-left p {
        display: none;
    }

    #footer-right h5 {
        font-size: 6vw;
    }
}